
body {
    display: flex;
    flex-direction: column;
    width:408px;
}
#GridContainer {
    display: flex;
    width: 408px;
    flex-wrap: wrap;
}

.gridsquare {
    display: flex;
    border: 1px solid black;
    background-color: white;
}

